<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    hello
    <h1 id="p"></h1>
    <script>
        const socket=io()
        console.log(socket);
        socket.on('one',(x)=>{
            console.log(x);
            document.querySelector('#p').innerHTML=x
        })
       

    </script>
</body>
</html>